server {
    listen 80;
    listen 443 ssl;
    server_name {{ group_name }}.{{ main_domain }};

    ssl_certificate /etc/letsencrypt/live/{{ group_name }}.{{ main_domain }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ group_name }}.{{ main_domain }}/privkey.pem;

    root /var/www/html;  
    index index.html; 

    {% for user in users %}
    location /{{ user.username }}/ {
        root /var/www;
        try_files $uri $uri/ /{{ user.username }}/index.html;
    }

    location /{{ user.username }}/code-server/ {
        proxy_pass http://localhost:{{ user.port }}/;
        proxy_set_header Host $host;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection upgrade;
        proxy_set_header Accept-Encoding gzip;
    }
    
    # Regular web directories (static files)
    {% for webdir in web_directories %}
    location /{{ user.username }}/{{ code_directory }}/{{ webdir }}/ {
        alias /home/{{ user.username }}/{{ code_directory }}/{{ webdir }}/;
        try_files $uri $uri/ $uri/index.html =404;
        autoindex on;
    }
    {% endfor %}

    # Flask directories
    {% for flaskdir in flask_directories %}
    # Flask app proxy
    location /{{ user.username }}/{{ code_directory }}/{{ flaskdir }}/app/ {
        proxy_pass http://127.0.0.1:{{ user[flaskdir + '_port'] }}/;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }
    
    # Static files for Flask directory
    location /{{ user.username }}/{{ code_directory }}/{{ flaskdir }}/ {
        alias /home/{{ user.username }}/{{ code_directory }}/{{ flaskdir }}/;
        try_files $uri $uri/ =404;
        autoindex on;
    }
    {% endfor %}

    {% endfor %}
}
